@import '../../assets/styles/reset.css';

.home {
  font-size: @main_font;
  color: @main_color;
}
.page-limit{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url('Asset/images/limit_bg.png') no-repeat;
      background-position: center;
    background-size: cover;
}

.content{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .content-image{
    width: 200px;
    height: 170px;
    margin: 0 auto;  
    background: url('Asset/images/box.png') no-repeat;
        background-position: center;
    background-size: cover;
  }
}

.footer{
  margin-bottom: 126px;
}

.content-text{
  font-family: PingFangSC-Semibold;
  font-size: 26px;
  color: #FFFFFF;
  text-align: center;
  width: calc(100% - 73px);
  margin: 0 auto;
}