@import '../../assets/styles/reset.css';

.home {
  font-size: @main_font;
  color: @main_color;
}
.page-home{
  width: 100vw;
  min-height: 100vh;
  background: url('Asset/images/home-bg.png') no-repeat;
      background-position: center;
    background-size: cover;
}

.has-ad .content {
  margin-top: 15px;
}
.content{
  margin-top: 64px;
  .content-image{
    width: 300px;
    height: 250px;
    margin: 0 auto;  
    background: url('Asset/images/home-content.png') no-repeat;
        background-position: center;
    background-size: cover;
  }

  .user-info{
    .avatar{
      margin: 0 auto;
      width: 40px;
      height: 40px;
      img{
        border-radius: 100%;
        width: 100%;
      }
    }
  
    .user_name{
      text-align: center;
      font-size: 14px;
      color: #FFFFFF;
      margin-top: 5px;
    }
  }
  
}
.forecast {
  margin: 12px 15px 45px;
  padding: 15px 0;
  text-align: center;
  border-radius: 10px;
  color: #333;
  background-color: #fff;
  .title {
    line-height: 20px;
    font-size: 14px;
    color: #666;
    &:before {
      content: " ";
      display: inline-block;
      width: 16px; height: 14px;
      margin-right: 6px;
      vertical-align: -1px;
      background: url('Asset/images/video.png') 0 0 /cover no-repeat;
    }
  }
  .games {
    display: flex;
    align-items: center;
    height: 85px;
    .game {
      flex: 1;
    }
    .curr {
      .date {
        color: #FF3660;
        border-right: 1px solid #E6E6E6;
      }
      .time {
        border-right: 1px solid #E6E6E6;
      }
    }
    .date {
      line-height: 20px;
    }
    .time {
      line-height: 35px;
      font-size: 30px;
      color: #333;
    }
  }
}
.footer{
  padding-bottom: 20px;
}
.link{
  display: block;
  text-align: center;
  a {
    display: inline-block;
  }
  img{
    width: 202px;
    vertical-align: top;
  }
}

