.m-card{
  background: #FFFFFF;
  border-radius: 10px;
  width: 90%;
  width: calc(100% - 30px);
  box-sizing: border-box;
  padding: 15px 13px 10px 10px;
  margin: 0 auto;
  
  .card-header{
    display: flex;
    .card-avator{
      margin-right: 10px;
      .avator{
        width: 36px;
        height: 36px;
        img{
          width: 100%;
        }
      }
    }
    .card-info{
      flex: 1;
      font-size: 14px;
      .card-info--name{
        color: #999999;
      }
      .card-info--content{
        color: #333333;
      }
    }
  }
  
  .card-info--car-image{
    width: 234px;
    height: 125px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .card-info--allowance{
  }
}

.fz14{
  font-size: 14px;
}
.fz48{
  font-size: 48px;
}
.cFF5F00{
  color: #FF5F00;
}
.c333333{
  color: #333333;
}

.text-center{
  text-align: center;
}