@import '../../assets/styles/reset.css';

.home {
  font-size: @main_font;
  color: @main_color;
}
.page-success{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}

.answer_bg{
background: url('Asset/images/answer_bg.png') no-repeat;
    background-position: center;
    background-size: cover;
}

.share_bg{
background: url('Asset/images/share_bg.png') no-repeat;
background-position: center;
background-size: cover;
}

.content{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .content-image{
    width: 185px;
    height: 200px;
    margin: 10px auto;  
    background: url('Asset/images/gold_coin.png') no-repeat;
    background-position: center;
    background-size: cover;
  }

  .content-text--main{
    color: #FFFFFF;
    p{
      text-align: center;
    }
  }
  .content-text--assistant{
    color: #FFFFFF;
    text-align: center;
  }
  
}
.fz26{
font-size: 26px;
}
.fz14{
font-size: 14px;
}

.footer{
  margin-bottom: 56px;
}

  .mask{
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.80);
    opacity: 0.6;
  }

.share-bg{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index:99;
  opacity: 0.8;
  background: rgba(51,51,51,0.95);
}
.share-friend{
  width: 268px;
  height: 146px;
  background: url("Asset/images/share_friend.png") no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  right: 29px;
  top: 17px;
  z-index:100;
}