.common-head{
  height: 50px;
  position: relative;
  .common-head--back{
    width: 50px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .back{
      width: 20px;
      height: 20px;
      background: url('Asset/images/back.png') no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  .common-head--content{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    .first_text{
      font-size: 19px;
      color: #FFFFFF;
    }
    .second_text{
      font-size: 16px;
      color: rgba(255, 255, 255, .3);
    }
  }

  .common-head--share{

    position: absolute;
    width: 70px;
    height: 100%;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .explain{
      display: block;
      width: 16px;
      height: 16px;
      background: url('Asset/images/yw.png') no-repeat;
      background-position: center;
      background-size: cover;
    }

    .share{
      width: 20px;
      height: 20px;
      background: url('Asset/images/share.png') no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

